%header
  %section
    %h1
      A Sydney &amp; Princeton algorithms study group
.details
  %section
    %div.image
      = image_tag 'study-hat.svg', width: '128', height: '128'
    %div.content
      %h2 What will I learn?
      %p
        We will be doing the #{link_to 'Algorithms I', 'https://www.coursera.org/course/algs4partI'} course by Princeton university.
      %p
        It involves a series of lectures & quizzes you watch at home, followed by a group meeting every Wednesday. At the group meeting you can ask questions about anything you didn't understand, and start to go through coding exercises.
      %p
        The course material is presented in Java, however you can choose a language of your choice to complete the problems. If you would like Coursera to mark your assignments and final exam, you would need to complete the course in Java. (Note: Completion certificates aren't issued for this course.)
      %p
        If you are unsure of Java syntax, read up on a quick syntax guide or ask someone who knows the language.

  %section
    %div.image
      = image_tag 'calendar.svg', width: '128', height: '128'
    %div.content
      %h2 Where and when do we meet?
      %p
        #{link_to 'Atlassian', 'https://www.google.com.au/maps/place/Atlassian/@-33.867265,151.206921,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12ae393a03d8ff:0x8fead86f5e91b507'} has kindly agreed to host our meetings. Their office is Level 6, 341 George Street Sydney. The building entrance is off Wynyard St.
        We'll meet on Wednesdays at 6:30pm (please be prompt). The course runs from January 28th until March 4th.

  %section
    %div.image
      = image_tag 'money.svg', width: '128', height: '128'
    %div.content
      %h2 How much will it cost?
      %p
        The course is free if you attend 5 out of the 6 meetings. You can skip one meeting without a penalty. Everyone will be asked to pay 6 x $10 per meeting at the first meeting, a total of $60. For every meeting you attend, you'll be credited $10 back. For anyone who misses a meeting, their money goes into a pot. At the end of the course, the pot will be divided among the people who attended the most meetings. Nerdery pays :)
      %p
        This is mainly an attempt to identify the people who really want to participate, and to motivate people to stick with the group.


  %section
    %div.image
      = image_tag 'clipboard.svg', width: '128', height: '128'
    %div.content
      %h2 What do I need to know?
      %p
        This is not a beginner's course. You should:
      %ul
        %li be able to code confidently in a language of your choice
        %li be comfortable with git
        %li understand the concept of a class, objects, functions, arrays, lists, sets, loops, recursion and the core types available in your chosen language
        %li be willing to discuss your approaches to problems, and demo code
        %li be willing to spend 4-12 hours a week watching lectures and completing code assignments
      %p
        I'm not teaching this content, I want to learn it and would like other motivated people around at the same time.


  %section
    %div.image
      = image_tag 'backpack.svg', width: '128', height: '128'
    %div.content
      %h2 How can I sign up?
      %p
        The study group will be limited to 15 people. If you have anyone interested in the course, feel free to forward this on. The first 15 people who contact Daphne (#{link_to '@daphnechong', 'https://twitter.com/daphnechong'}), and pay a refundable $60 at the first meeting will be eligible.