%header
  %section
    %h1
      A Sydney JavaScript and jQuery study group.
%section
  %div.image
    = image_tag 'study-hat.svg'
  %div.content
    %h2 What will I learn?
    %p
      We will go through The Odin Project's #{link_to 'JS and jQuery course', 'http://www.theodinproject.com/javascript-and-jquery'}. We'll talk about the project you completed the previous week and discuss the material for the next project.

%section
  %div.image
    = image_tag 'calendar.svg'
  %div.content
    %h2 Where and when do we meet?
    %p
      We'll meet at #{link_to 'Atlassian', 'https://www.google.com.au/maps/place/Atlassian/@-33.867265,151.206921,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12ae393a03d8ff:0x8fead86f5e91b507'} Mondays at 6:30pm (please be prompt). The start date is July 7th.
    %p
      I've created the #{link_to 'schedule', '/schedule/'} so we have one project a week. Every 5th week is a catch up week and attending study group is optional. With this schedule the course will take 17 weeks. We will take breaks due to public holidays and the like.

%section
  %div.image
    = image_tag 'money.svg'
  %div.content
    %h2 How much will it cost?
    %p
      The cost for this group is $5 per study group meeting, excluding the optional meetings and two free passes. So you get 12 paid meetings for a total of $60. However, every meeting you attend you'll earn $5 back (to be awarded at the end of the series). If you're not there, your $5 goes to the pot. At the end of the session the money in the pot will be divided between members who have been to the most meetings. So you could end up making money from going to a study group - sweet deal, right?

%section
  %div.image
    = image_tag 'clipboard.svg'
  %div.content
    %h2 What do I need to know?
    %p
      The Odin Project assumes you've programmed before doing the JS course. It's ok to have little to no experience with JS, but you need to know some basic programming concepts (array, hash, variable, function, boolean, if/else, loops). There are also a few #{link_to 'prerequisites', '/schedule'} you'll need to do before the first lesson.

%section
  %div.image
    = image_tag 'silly.jpg', class: 'lucy-photo'
  %div.content
    %h2 Who are you?
    %p
      I'm #{link_to 'Lucy', 'http://www.lucybain.com'}. I'm a Rails dev trying to learn front end development. I'm not very good at sticking with courses on my own, so I'm getting you guys to hold me accountable (thanks!). I love teaching and tutoring - I did a #{link_to 'study group', 'http://lucybain.com/resources/udacity-python-study-group/'} like this one for Udacity's #{link_to 'CS101', 'https://www.udacity.com/course/cs101'} course.