%header
  %section
    %h1
      Schedule
%section
  %h2 Prerequisites
  %ul
    %li #{link_to 'Front End Overview', 'http://www.theodinproject.com/web-development-101#section-the-front-end'}
    %li #{link_to 'Git Basics', 'http://www.theodinproject.com/web-development-101/git-basics'}
    %li #{link_to('How This Course Will Work', 'http://www.theodinproject.com/javascript-and-jquery/how-this-course-will-work')}
    %li #{link_to('Javascript Basics', 'http://www.theodinproject.com/javascript-and-jquery/javascript-basics')}

  %h2 Week 1
  %ul
    %li Project: #{link_to('On Screen Calculator', 'http://www.theodinproject.com/javascript-and-jquery/on-screen-calculator')}
    %li #{link_to('jQuery Basics', 'http://www.theodinproject.com/javascript-and-jquery/jquery-basics')}

  %h2 Week 2
  %ul
    %li Project: #{link_to('Manipulating the DOM with jQuery', 'http://www.theodinproject.com/javascript-and-jquery/manipulating-the-dom-with-jquery')}
    %li #{link_to('Organizing Your Code and More', 'http://www.theodinproject.com/javascript-and-jquery/organizing-your-code-and-more')}
    %li #{link_to('Working with Events and Effects', 'http://www.theodinproject.com/javascript-and-jquery/working-with-events-and-effects')}

  %h2 Week 3
  %ul
    %li Project: #{link_to('jQuery and the DOM', 'http://www.theodinproject.com/javascript-and-jquery/jquery-and-the-dom')}
    %li #{link_to('Using jQuery UI to Build Widgets', 'http://www.theodinproject.com/javascript-and-jquery/using-jquery-ui-to-build-widgets')}

  %h2 Week 4
  %ul
    %li Project: #{link_to('Creating an Image Carousel/Slider', 'http://www.theodinproject.com/javascript-and-jquery/creating-an-image-carousel-slider')}
    %li #{link_to('Objects, Classes, and Prototypes', 'http://www.theodinproject.com/javascript-and-jquery/objects-classes-and-prototypes')}
    %li #{link_to('Scope and Closures', 'http://www.theodinproject.com/javascript-and-jquery/scope-and-closures')}

  %h2 Week 5
  %p Catch up week!

  %h2 Week 6
  %ul
    %li Project: #{link_to('Tic Tac Toe', 'http://www.theodinproject.com/javascript-and-jquery/tic-tac-toe')}
    %li #{link_to('Comparing Javascript and Ruby: Going Functional', 'http://www.theodinproject.com/javascript-and-jquery/comparing-javascript-and-ruby-going-functional')}
    %li #{link_to('Really Understanding Functions in Javascript', 'http://www.theodinproject.com/javascript-and-jquery/really-understanding-functions-in-javascript')}

  %h2 Week 7
  %ul
    %li Project: #{link_to('Minesweeper', 'http://www.theodinproject.com/javascript-and-jquery/minesweeper')}
    %li #{link_to('Loading Javascript in the Browser', 'http://www.theodinproject.com/javascript-and-jquery/loading-javascript-in-the-browser')}
    %li #{link_to('Callbacks: Living in an Event-Driven World', 'http://www.theodinproject.com/javascript-and-jquery/callbacks-living-in-an-event-driven-world')}

  %h2 Week 8
  %ul
    %li Project: #{link_to('Callbacks', 'http://www.theodinproject.com/javascript-and-jquery/callbacks')}
    %li #{link_to('Using Canvas to Draw and More', 'http://www.theodinproject.com/javascript-and-jquery/using-canvas-to-draw-and-more')}

  %h2 Week 9
  %ul
    %li Project: #{link_to('Building Games with Canvas', 'http://www.theodinproject.com/javascript-and-jquery/building-games-with-canvas')}
    %li #{link_to('Validating Form Inputs Using jQuery', 'http://www.theodinproject.com/javascript-and-jquery/validating-form-inputs-using-jquery')}
  %h2 Week 10
  %p Catch up week!

  %h2 Week 11
  %ul
    %li Project: #{link_to('Validating a Form with jQuery', 'http://www.theodinproject.com/javascript-and-jquery/validating-a-form-with-jquery')}
    %li #{link_to('Submitting a Form Without Reloading by Using AJAX', 'http://www.theodinproject.com/javascript-and-jquery/submitting-a-form-without-reloading-by-using-ajax')}
  %h2 Week 12
  %ul
    %li Project: #{link_to('Infinite Scroll and Submitting a Form with AJAX', 'http://www.theodinproject.com/javascript-and-jquery/infinite-scroll-and-submitting-a-form-with-ajax')}
    %li #{link_to('Working with Javascript APIs', 'http://www.theodinproject.com/javascript-and-jquery/working-with-javascript-apis')}
  %h2 Week 13
  %ul
    %li Project: #{link_to('Putting Google Maps Onto Your Site', 'http://www.theodinproject.com/javascript-and-jquery/putting-google-maps-onto-your-site')}
    %li #{link_to('Node.js and Server-Side Javascript', 'http://www.theodinproject.com/javascript-and-jquery/node-js-and-server-side-javascript')}
  %h2 Week 14
  %p Note: We are skipping the Ruby on Rails section since it is not a prerequisite to this study group.
  %ul
    %li Project: #{link_to('Node.js', 'http://www.theodinproject.com/javascript-and-jquery/node-js')}
    %li #{link_to('Using Templates', 'http://www.theodinproject.com/javascript-and-jquery/using-templates')}
    %li #{link_to('Javascript MV* Frameworks Like Angular.js and Backbone.js', 'http://www.theodinproject.com/javascript-and-jquery/javascript-mv-frameworks-like-angular-js-and-backbone-js')}
  %h2 Week 15
  %p Catch up week!

  %h2 Week 16
  %ul
    %li Project: #{link_to('Building Single Page Websites with Angular.js and Backbone.js', 'http://www.theodinproject.com/javascript-and-jquery/building-single-page-websites-with-angular-js-and-backbone-js')}
    %li #{link_to('Workflow Tools, Tech Stacks and Dependency Management', 'http://www.theodinproject.com/javascript-and-jquery/workflow-tools-tech-stacks-and-dependency-management')}
    %li #{link_to('Javascript Testing with Jasmine', 'http://www.theodinproject.com/javascript-and-jquery/javascript-testing-with-jasmine')}

  %h2 Week 17
  %ul
    %li Project: #{link_to('Final Project', 'http://www.theodinproject.com/javascript-and-jquery/final-project')} or we will decide our own final project
    %li #{link_to('Conclusion', 'http://www.theodinproject.com/javascript-and-jquery/conclusion')}
